.__modal-parent * {
  overscroll-behavior: auto;
  box-sizing: border-box;
}

.__modal-parent {
  position: fixed;
  inset: 0;
  z-index: 500;
  width: 100%;
  height: 100vh;
  overscroll-behavior: auto;
  overflow: auto;
}

.__hidden {
  display: none;
}

.__block {
  display: block;
}

.__modal {
  position: absolute;
  inset: 0;
}

.__inactive {
  pointer-events: none;
  z-index: 0;
}

.__active {
  z-index: 501;
}

.filter-sort-modal {
  background: linear-gradient(180deg, rgba(249, 249, 249, 0.24) 0%, rgba(249, 249, 249, 0.8) 17.06%, #F9F9F9 100%);

}